.inputfield {
  text-align: center;
}
.input_div {
    text-align: center;
}
.button_div {
    text-align: center;
}
.button{
    margin: 5px;
}
h1 {
    text-align: center;
}
#output {
    text-align: center;
}
.paragraph {
    text-align: center;
}